/* root colors */
:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-red: hsl(0, 100%, 67%);
  --neutral-white: hsl(0, 100%, 100%);
  --neutral-gray-main: hsl(0, 0%, 94%);
  --neutral-gray-sec: hsl(0, 0%, 86%);
  --neutral-gray-thirt: hsl(0, 1%, 44%);
  --neutral-black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf");
}

/* font italic */
@font-face {
  font-family: "Poppins-italic";
  src: url("/assets/fonts/Poppins-Italic.ttf");
}

/* font extra bold */
@font-face {
  font-family: "Poppins-extrabold";
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
}

/* font extra bold italic */
@font-face {
  font-family: "Poppins-extrabold-italic";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

body {
  background-color: var(--neutral-gray-main);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.display-none {
  display: none;
}

/* error alert custom */
.alert-error {
  color: var(--primary-red);
}

.labels-inputs-box.error label {
  color: var(--primary-red);
}

.labels-inputs-box.error input {
  border: 1px solid var(--primary-red);
}

/* CSS MAIN */
.main-container {
  background-color: var(--neutral-white);
  padding: 4rem;
  border-radius: 20px 20px 250px;
  width: 55rem;
}

.inputs-labels-section {
  display: flex;
}

.labels-inputs-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.inputs-labels-section label {
  display: block;
  color: var(--neutral-gray-thirt);
  margin-bottom: 5px;
}

.inputs-labels-section input {
  font-family: "Poppins-extrabold";
  border: 2px solid var(--neutral-gray-sec);
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
  width: 50%;
  display: block;
}

.inputs-labels-section input:focus {
  outline: 2px solid var(--primary-purple);
}

.inputs-labels-section small {
  font-family: "Poppins-italic";
}

hr {
  background-color: var(--neutral-gray-sec);
  height: 1.5px;
  border: none;
  flex-grow: 1;
  align-self: center;
}

#submit-results {
  border: none;
  background-color: var(--primary-purple);
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

#submit-results:hover {
  background-color: var(--neutral-black);
}

.results-section {
  font-family: "Poppins-extrabold-italic";
  font-size: 3rem;
}

.results-section h2 {
  margin: 0;
}

.results-section span {
  color: var(--primary-purple);
}

.results-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.line-initial {
  background-color: var(--primary-purple);
  height: 15px;
  flex: 0 1 40px;
  margin: 0;
  transform: skewX(-15deg);
}

/* CSS MOBILE */
@media (max-width: 768px) {
  body {
    padding: 1rem;
    height: 100vh;
  }

  .main-container {
    width: 100%;
    max-width: 22rem;
    padding: 2rem 1.5rem;
    border-bottom-right-radius: 7rem;
  }

  .labels-inputs-box {
    width: 100%;
  }

  .inputs-labels-section{
    margin-bottom: 6rem;
  }

  .inputs-labels-section input {
    width: 50%;
    padding: 1rem;
    font-size: large;
  }

  hr {
    position: relative;
    z-index: 1;
  }

  #submit-results {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .results-section {
    font-size: x-large;
    margin-top: 4rem;
  }

  .results-box {
    gap: 1rem;
    position: relative;
  }

  .line-initial {
    height: 0.625rem;
    flex: 0 1 1.5rem;
  }
}
