/* root colors */
:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-red: hsl(0, 100%, 67%);
  --neutral-white: hsl(0, 100%, 100%);
  --neutral-gray-main: hsl(0, 0%, 94%);
  --neutral-gray-sec: hsl(0, 0%, 86%);
  --neutral-gray-thirt: hsl(0, 1%, 44%);
  --neutral-black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf");
}

/* font italic */
@font-face {
  font-family: "Poppins-italic";
  src: url("/assets/fonts/Poppins-Italic.ttf");
}

/* font extra bold */
@font-face {
  font-family: "Poppins-extrabold";
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
}

/* font extra bold italic */
@font-face {
  font-family: "Poppins-extrabold-italic";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

body {
  background-color: var(--neutral-gray-main);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  background-color: var(--neutral-white);
  padding: 4rem;
  border-radius: 20px 20px 250px;
  width: 55rem;
}

.inputs-labels-section {
  display: flex;
}

.inputs-labels-section label {
  display: block;
  color: var(--neutral-gray-thirt);
  margin-bottom: 5px;
}

.inputs-labels-section input {
  font-family: "Poppins-extrabold";
  border: 2px solid var(--neutral-gray-sec);
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
  width: 50%;
  display: block;
}

.inputs-labels-section small {
  font-family: "Poppins-italic";
}

hr {
  background-color: var(--neutral-gray-sec);
  height: 1.5px;
  border: none;
  flex-grow: 1;
  align-self: center;
}

.icon-arrow-box {
  background-color: var(--primary-purple);
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.icon-arrow-box:hover {
  background-color: var(--neutral-black);
}

.results-section {
  font-family: "Poppins-extrabold-italic";
  font-size: 3rem;
}

.results-section h2 {
  margin: 0;
}

.results-section span {
  color: var(--primary-purple);
}

.results-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.line-initial {
  background-color: var(--primary-purple);
  height: 15px;
  flex: 0 1 40px;
  margin: 0;
  transform: skewX(-15deg);
}
